---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="PythonからFlowChart変換ツール | s0u7a.net" description="s0u7aが作成したPythonファイルからフローチャートに変換するツールです。 " icon="/favicon.svg">
  <h1>PythonからFlowChart変換ツール</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js" integrity="sha512-tBzZQxySO5q5lqwLWfu8Q+o4VkTcRGOeQGVQ0ueJga4A1RKuzmAu5HXDOXLEjpbKyV7ow9ympVoa6wZLEzRzDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.17.1/flowchart.min.js" integrity="sha512-emJotoOTtLFZ0H1ruR4v5pqW1mSen/JQCnjD4mcXwDT1sfZQmtqUDYv36X2S/iSun0kpgvvmBUWqpAupN104Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
You can parse the text:

<div id="diagram"></div>
<script is:inline src="/tools/flowchart.js"/>
</Layout>
