---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="位置情報特定ツール" description="他人にURLを送ってそのURLを開かせることでその人の位置情報や端末情報を特定することができます。" icon="/favicon.pngs">
  <div class='text-center min-h-[100vh]'>
    <div class='text-2xl text-center'>位置情報特定ツール</div>
    <div>他人にURLを送ってそのURLを開かせることでその人の位置情報や端末情報を特定することができます。</div>
<div>現在Activetkさんのサイトが使用不可能となっているため、緊急で作ります

    This WebSite Powered by Astro,Bun,Htmx,Tailwind,and Cloudflare!</div>
  </div>
</Layout>
