---

---
<header class="sticky top-0">
  <div class="flex justify-between items-center">
    <div>
　    <a href="/" class="font-bold text-lg">s0u7a.net</a>
    </div>
    <div>
      <a href="/profile">Profile</a>
    </div>
  </div>
</header>
