---
import Layout from '../layouts/Layout.astro'
---

<Layout title="HOME | s0u7a.net" description="s0u7a's site" icon="/favicon.svg">
  <div class='text-center min-h-[100vh]'>
    <div class='text-2xl text-center'>s0u7a.net</div>
    <div>s0u7a.net!</div>
    Hello im s0u7a !
    I'm a JavaScript programmer.
    中学三年生のフロントエンドエンジニア。
    使える言語JavaScript PHP (HTMLCSS、小学生の時はwordpressやってた)
    学習中の言語Rust Java C++
    興味を持っているものTypeScript Go Kotlin
    大好きな使っているOS: <a href="https://cachyos.org">CachyOS</a>
    <a href="https://x.com/relateduser">My X</a>
    <a href="https://discord.gg/u45SHfsxnu">すべてが揃っている僕のDiscordサーバー</a>
    Discord username :s0u7alol
    
  </div>
</Layout>
