---
import Layout from '../layouts/Layout.astro'
---

<Layout title="HOME | s0u7a.net" description="s0u7a's site" icon="/favicon.svg">
  <div class='text-center'>
    <div class='text-2xl text-center'>s0u7a.net</div>
    <div>s0u7a.net!</div>
    <iframe src="https://ptb.discord.com/widget?id=1104402025988489299&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </div>
</Layout>
