---
import Layout from '../layouts/Layout.astro'
---

<Layout title="HOME | s0u7a.net" description="s0u7a's site" icon="/favicon.svg">
  <div class='text-center'>
    <div class='text-2xl text-center'>s0u7a.net</div>
    <div>s0u7a.net!</div>
  </div>
</Layout>
