---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Layout/Header.astro"
import Footer from "../components/Layout/Footer.astro"

interface Props {
  title: string,
  description: string,
  icon: string
}

const { title, description, icon } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={title} description={description} icon={icon} />
  </head>
  <body>
    <div style="display: contents">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
