---
import BaseHead from "../components/BaseHead.astro"

interface Props {
  title: string,
  description: string,
  icon: string
}

const { title, description, icon } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={title} description={description} icon={icon} />
  </head>
  <body>
    <slot />
  </body>
</html>
